package http
import (
	"net/http"
		ws "{{.ModulePath}}/internal/delivery/websockets"
)
func Routes({{if .HTTP.Hub}} hub ws.Hub  {{end}}) http.Handler {
	mux := http.NewServeMux()

	// Health
	mux.HandleFunc("GET /", func(w http.ResponseWriter, r *http.Request) {})


	{{if .HTTP.Websocket}}
	mux.HandleFunc("/ws", func(w http.ResponseWriter, r *http.Request) {
	
		ws.ServeWs(w, r {{if .HTTP.Hub}} ,hub  {{end}})
	})
	{{end}}




return {{ .HTTP.Middleware.ReturnExp }}
}