package repository

import (
	"{{.ModulePath}}/internal/domain/entity"
	domainrepo "{{.ModulePath}}/internal/domain/repository"
)

type {{.Module}}Repository struct {
	db *sql.DB
}

func New{{.Module}}Repository(db *sql.DB) domainrepo.{{.Module}}Repository {
	return &{{.Module}}Repository{db: db}
}

func ({{.Receiver}} *{{.Module}}Repository) Create(e entity.{{.Module}}) error {
	// TODO: implement
	return nil
}

func ({{.Receiver}} *{{.Module}}Repository) Read(id int) (entity.{{.Module}}, error) {
	// TODO: implement
	return entity.{{.Module}}{}, nil
}

func ({{.Receiver}} *{{.Module}}Repository) Update(id int, changes any) error {
	// TODO: implement
	return nil
}

func ({{.Receiver}} *{{.Module}}Repository) Delete(id int) error {
	// TODO: implement
	return nil
}