package http
import (
	"net/http"
		ws "{{.ModulePath}}/internal/frameworks_drivers/http/websockets"
		mw "{{.ModulePath}}/internal/frameworks_drivers/http/middlewares"
		handler "zz/internal/frameworks_drivers/http/handlers"
)

func Routes({{if .HTTP.Hub}} hub ws.Hub  {{end}}) http.Handler {
	mux := http.NewServeMux()

	// dlta
	mux.HandleFunc("GET /", func(w http.ResponseWriter, r *http.Request) {})
	{{- range .HTTP.Modules }}
	mux.HandleFunc("GET /{{ . }}", {{ printf $.HTTP.Middleware.HandleFuncExp (printf "handler.Handle%s" (Capitalize .) ) }})
	mux.HandleFunc("POST /{{ . }}", {{ printf $.HTTP.Middleware.HandleFuncExp (printf "handler.Handle%s" (Capitalize .) ) }})
	{{- end }}


	{{if .HTTP.Websocket}}
	mux.HandleFunc("/ws", func(w http.ResponseWriter, r *http.Request) {
						//TODO:
		ws.ServeWs(w, r {{if .HTTP.Hub}} ,hub  {{end}})
	})
	{{end}}

return {{ .HTTP.Middleware.HandlerExp }}
}
