package usecases

import (
	"{{.ModulePath}}/internal/application/dtos"
	"{{.ModulePath}}/internal/domain/entity"
	"{{.ModulePath}}/internal/domain/repository"
)

type {{.Module}}Usecase struct {
	repo repository.{{.Module}}Repository
}

func New{{.Module}}Usecase(repo repository.{{.Module}}Repository) *{{.Module}}Usecase {
	return &{{.Module}}Usecase{repo: repo}
}

func ({{.Receiver}} *{{.Module}}Usecase) Create(data dtos.{{.Module}}Data) error {
	e := entity.{{.Module}}{}
	// TODO: map data to entity
	return {{.Receiver}}.repo.Create(e)
}

func ({{.Receiver}} *{{.Module}}Usecase) Read(id int) (entity.{{.Module}}, error) {
	return {{.Receiver}}.repo.Read(id)
}

func ({{.Receiver}} *{{.Module}}Usecase) Update(id int, changes any) error {
	return {{.Receiver}}.repo.Update(id, changes)
}

func ({{.Receiver}} *{{.Module}}Usecase) Delete(id int) error {
	return {{.Receiver}}.repo.Delete(id)
}