package handlers

	import response "{{ .ModulePath}}/internal/delivery/http/handlers/response"

func Handle{{ .Module }}(w http.ResponseWriter, r *http.Request) {
	// TODO: validate request

	// TODO: call use case

	response.JSON(w, http.StatusNotImplemented, map[string]string{
		"message": "not implemented",
	})
}