package entity

import "errors"



type {{.Module}} struct {
    Id        int   
    // TODO : add your entity
}

func ({{.Receiver}} *{{.Module}}) validateBusinessRules() error {
if {{.Receiver}}.Id <= 0 {
 return errors.New("id not valid")
}
// TODO : check the businessRules (ex : valid mail ,name lenght, ....)
    return nil
}