package entity

type {{.Module}} struct {
	Id int
	// TODO: add your fields
}

func ({{.Receiver}} *{{.Module}}) validateBusinessRules() error {
	if {{.Receiver}}.Id <= 0 {
		return errors.New("id not valid")
	}
	// TODO: check business rules
	return nil
}