package repository

type {{.Module}}Repo interface {
    Create(entity.{{.Module}}) error
        Read(id int) (entity.{{.Module}},error)
                Update(id int,Changes any) error
    Delete(id int) error
    // TODO : declare the contract 
}
