package repository

import "{{.ModulePath}}/internal/domain/entity"

type {{.Module}}Repository interface {
	Create(e entity.{{.Module}}) error
	Read(id int) (entity.{{.Module}}, error)
	Update(id int, changes any) error
	Delete(id int) error
}